.wp-block-cno-pdf-download-selector {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;

	.pdf-select {
		flex-grow: 1;
		min-width: 200px;
	}

	.pdf-download-btn {
		border: 2px solid var(--wp--preset--color--primary);
		background-color: var(--wp--preset--color--primary);
		color: var(--wp--preset--color--dark);
		padding: var(--wp--preset--spacing--sm) var(--wp--preset--spacing--lg);
		text-transform: uppercase;
		cursor: pointer;
		font-family: var(--wp--preset--font-family--headings);
		text-decoration: none;
		transition:
			background-color 0.3s,
			color 0.3s;

		&[disabled] {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}
