.wp-block-cno-pdf-download-selector {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;

	.pdf-select {
		--bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");

		flex: 1 0 0;
		min-width: 200px;
		display: block;
		font-size: 1rem;
		padding-block: 0.375rem;
		padding-inline: 0.75rem 2.25rem;
		appearance: none;
		border: 2px solid black;
		border-radius: 0;
		background-image: var(--bs-form-select-bg-img);
		background-repeat: no-repeat;
		background-position: right 0.75rem center;
		background-size: 1rem 0.75rem;
	}

	.pdf-download-btn {
		flex: 0 1 auto;
		border: 2px solid var(--wp--preset--color--primary);
		background-color: var(--wp--preset--color--primary);
		color: var(--wp--preset--color--dark);
		padding: var(--wp--preset--spacing--sm) var(--wp--preset--spacing--lg);
		text-transform: uppercase;
		cursor: pointer;
		font-family: var(--wp--preset--font-family--headings);
		text-decoration: none;
		transition: background-color var(--transition-standard);

		&[disabled] {
			opacity: 0.5;
			pointer-events: none;
		}

		&:hover,
		&:active,
		&:focus-visible {
			background-color: transparent;
		}
	}
}
